

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron h1,h4 {
    color: Grey;
    font-family: 'Roboto Condensed', sans-serif;

}

.jumbotron p{
	font-family: 'Roboto Condensed', sans-serif;
}












